body{
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  font-size:14px;
  line-height: 1.42857143;
  overflow: hidden!important;
  background: #484848;
}

img{
  width: 100%;
}

.active{
  font-weight: bold;
  letter-spacing: 3px
}

.left{
  float: left;
}

.my-md-50{
  width: 50%
}
.my-md-75{
  width: 75%;
}
.portfolio{
  width:70%
}

.tab-head{
  display: flex;
  align-items: center;
  padding: 0px;
  list-style: none;
}

.tab-head-item{
  width:20%;
}

.icons{
  color:#484848
}

.active{
  box-shadow: 0px 0px 0px!important;
  cursor: auto!important;
}

.flex-center{
  display: flex;
  align-items: center;
}

p{
  margin-top: 0px!important;
}

h4{
  font-size: 2.28rem;
  margin-top: 17px;
  margin-bottom: 13px;
  font-weight:normal;
}

input, textarea{

  width: 100% !important;
  box-sizing: border-box;
  display: block;
  border: 1px solid #484848;
  border-radius: 10px;
  padding: 0px 10px;
  background-color: transparent;
    outline: none;
    height: 3rem;
    font-size: 1rem;
    margin: 0 0 15px 0;
    box-shadow: none;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: #484848;
}

textarea{
  height: 200px;
  padding-top: 10px; 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}

.send_btn {
  width: auto !important;
  padding: 12px 30px;
  margin-top: 14px;
  background: #484848;
  color: #ffe915;
  font-size: 19px;
  transition: 0.8s;
  cursor: pointer;
}


.portfolioItem{
  display:block;
  text-decoration:none;
}
.portfolioItem:visited{
  border:1px solid red!important;
}
.blog{
  display: flex;
  flex-wrap: wrap;
  padding: 0px 16px;
}
.blogImgOuter, .blogContent{
  width: 50%;
  padding: 0px 16px;
  box-sizing: border-box;
}
.blogContent h1{
    font-size: 32px;
    color: #ffe915;
    font-weight: 100;
    margin: 0;
}

.blogImgOuter img{
  margin-top: 10px;
}

.blogContent p{
  color: white;
}

.my-btn1, .my-btn2{
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  transition: .3s ease-in-out;
  display: inline-block;
  width: max-content;
}

.my-btn1{
  background: #ffe915;
  color: #484848;
  border: 2px solid transparent;
}

.my-btn1:hover{
  background: transparent;
  color: #ffe915;
  border-color: #ffe915;
}

.my-btn2{
  background: transparent;
  color: #ffe915;
  border: 2px solid #ffe915;
}

.my-btn2:hover{
  background: #ffe915;
  color: #484848;
  border-color: transparent;
}