body{
  margin: 0px;
  padding: 0px;
}

img{
  width: 100%;
}

.active{
  color: red;
}

.left{
  float: left;
}

.my-md-50{
  width: 50%
}

.portfolio{
  width:70%
}

.tab-head{
  display: flex;
  align-items: center;
  padding: 0px;
  list-style: none;
}

.tab-head-item{
  width:20%;
}

.icons{
  display: flex;
  align-items: center;
  justify-content: center
}